.h5p-course-presentation .h5p-controls {
  float: right;
  font-size: 12px;
}
.h5p-course-presentation .h5p-controls a {
  display: block;
  float: left;
  background: #e0f0e0 no-repeat 7px 13px;
  padding: 6px;
  color: #000;
  border-left: 1px solid #f0fff0;
  width: 10px;
  height: 18px;
}
.h5p-course-presentation .h5p-controls a:first-child {
  border-left: 0;
}
.h5p-course-presentation .h5p-controls a:hover {
  text-decoration: none;
  background-color: #d0dfd0;
}
.h5p-course-presentation .h5p-controls a.h5p-clone-slide {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QQFBSMgIyZm4QAAADtJREFUGNNj/P//PwMMMDIyIjhQwMRAABBUwIJkrCQxJnxBV8DIwMAAM0EWJvj///8n2BQwIClgJNqRAIXMDxh1bmE1AAAAAElFTkSuQmCC);
}

.h5p-course-presentation .h5p-keywords-wrapper textarea {
  resize: none;
  overflow: hidden;
  font-size: 12px;
}
.h5p-course-presentation .h5p-moving {
  position: absolute;
}
.h5p-course-presentation .h5p-placeholder {
  
}

.h5p-course-presentation .h5p-elements-bar {
  background: #f7f0f9;
  overflow: hidden;
}
.h5p-course-presentation .h5p-elements-bar ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}
.h5p-course-presentation .h5p-elements-bar ul:first-child {
  float: left;
}
.h5p-course-presentation .h5p-elements-bar li {
  float: left;
  margin: 0;
  padding: 0;
  border-left: 1px solid #f7f0f9;
}
.h5p-course-presentation .h5p-elements-bar ul:first-child li:first-child {
  border-left: 0;
}
.h5p-course-presentation .h5p-elements-bar a {
  display: block;
  padding: 10px;
  color: #000;
  background: #f0e7f3;
}
.h5p-course-presentation .h5p-elements-bar a:hover {
  text-decoration: none;
  background: #e7dcea;
}