.h5p-course-presentation .h5p-wrapper {
  height: 440px;
}
.h5p-course-presentation .h5p-presentation-wrapper {
  height: 81.82%;
}

.h5p-course-presentation .h5p-slidecontrols {
  float: right;
  font-size: 0.75em;
}
.h5p-course-presentation .h5p-keywordcontrols {
  float: left;
  font-size: 0.75em;
}
.h5p-course-presentation .h5p-keywordcontrols-button, .h5p-course-presentation .h5p-slidecontrols-button {
  display: block;
  float: left;
  background: #e0f0e0 no-repeat 0.5833em 1.0833em;
  background-size: 0.667em 0.667em;
  padding: 0.5em;
  color: #000;
  border-left: 0.0625em solid #f0fff0;
  width: 0.833em;
  height: 1.5em;
}
.h5p-course-presentation .h5p-keywordcontrols-button {
  background-color: #ffe6e6;
}
.h5p-course-presentation .h5p-keywordcontrols-button:first-child, .h5p-course-presentation .h5p-slidecontrols-button:first-child {
  border-left: 0;
}
.h5p-course-presentation .h5p-keywordcontrols-button:hover, .h5p-course-presentation .h5p-slidecontrols-button:hover {
  text-decoration: none;
  background-color: #d0dfd0;
}
.h5p-course-presentation .h5p-keywordcontrols-button:hover {
  background-color: #edd9d9;
}
.h5p-course-presentation .h5p-clone-slide {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QQFBSMgIyZm4QAAADtJREFUGNNj/P//PwMMMDIyIjhQwMRAABBUwIJkrCQxJnxBV8DIwMAAM0EWJvj///8n2BQwIClgJNqRAIXMDxh1bmE1AAAAAElFTkSuQmCC);
}

.h5p-course-presentation .h5p-keywords-wrapper > ol {
  position: relative;
}
.h5p-course-presentation .h5p-keywords-wrapper textarea {
  resize: none;
  overflow: hidden;
  font-size: 1em;
  padding-right: 1.833em;
  width: 81%;
}
.h5p-course-presentation .h5p-keywords-wrapper span {
  cursor: default;
}
.h5p-course-presentation .h5p-keywords-wrapper .h5p-current span {
  cursor: pointer;
}
.h5p-course-presentation .h5p-keywords-wrapper .h5p-current span:hover {
  color: #000;
}
.h5p-course-presentation .h5p-keywords-wrapper li li li textarea {
  padding-right: 1.833em;
  width: 79%;
}
.h5p-course-presentation .h5p-empty-keyword > span {
  font-style: italic;
}
.h5p-course-presentation .h5p-delete-keyword {
  position: absolute;
  margin: 0.667em;
  right: 0.833em;
  width: 1em;
  height: 1em;
  background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QQJDCwQx2DOtQAAARBJREFUKM91kE9Kw2AUxH+TGzQLqWbtBRqybEr3Wih4B//coRvBEwh6CUEo3YemS0kv4LqgIvEI4+L7klaob/V4b968mdF6MLoFTg1Pk7b54EjVaT403Al/JoYhsBBe1mmeHQFnwFKwAJ0lsp+BN1BhqNYHR7GvgCJgeJRt6jTPjCuh87i4MCBY2S4kvQPTsm12sh1eD/IM8RrZNmBA40DgedludwD9QTganSC9AOM42oCvynb71WGSPw4lAjMEnijsENJLCgb/kcS8bJu9pDrNM9sVCqYVTQMroBDsTa8HoyGwjMz9ovtqu5K69HyZADf7nN2DAUKvaZRVYF0n4G/gwXjWRXdYk59mZzPDvge3v046iYmbcYsaAAAAAElFTkSuQmCC);
  background-size: 1em 1em;
  opacity: 0.5;
  filter: alpha(opacity = 50);
}
.h5p-course-presentation .h5p-delete-keyword:hover {
  opacity: 1;
  filter: alpha(opacity = 100);
}
.h5p-course-presentation .h5p-moving {
  position: absolute;
}
.h5p-course-presentation .slideination {
  height: 9.09%;
}

.h5p-course-presentation .h5p-element {
  border: 1px dashed #a0a0a0;
}

.h5p-course-presentation .h5p-dialog-no-close .ui-dialog-titlebar-close {
  display: none;
}

.h5p-course-presentation .ui-widget-header {
  background: none;
  border: none;
}

.h5p-course-presentation .ui-dialog-buttonpane {
  border: none;
  margin-top: 0;
}

.h5p-dragnbar {
  height: 9.09%;
  background: #f7f0f9;
  overflow: hidden;
}
.h5p-dragnbar-ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  height: 100%;
}
.h5p-dragnbar-li {
  float: left;
  margin: 0;
  padding: 0;
  border-left: 1px solid #f7f0f9;
  height: 100%;
}
.h5p-dragnbar-a {
  height: 100%;
  display: block;
  width: 1em;
  padding: 0.625em;
  color: #000;
  background: #f0e7f3;
}
.h5p-dragnbar-a:hover {
  text-decoration: none;
  background: #e7dcea;
}
.h5p-dragnbar-left {
  float: left;
}
.h5p-dragnbar-left > .h5p-dragnbar-li:first-child {
  border-left: 0;
}